
/****** Fonts ******/

@font-face {
font-family: VincentRegular;
src: url("fonts/Vincent-Regular.otf") format("opentype");
}

@font-face {
font-family: Arwen;
src: url("fonts/ARWEN.TTF");
}

@font-face {
font-family: BelleRose;
src: url("fonts/Bellerose.ttf");
}

@font-face {
font-family: subT;
src: url("fonts/SUBt.ttf");
}

/****** General ******/

html, body {
	height: 100%;
	min-height: 460px;
	min-width: 1300px;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.vCenterTransform { 
  margin: auto;
  position: absolute;
  top: 50%; 
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
}

.centerTransform { 
  margin: auto;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.main {
	clear: both;
	text-align: center;
	border: 0;
	border-color: black;
	width: 95%;
	min-height: 430px;
	overflow: auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

/****** Header ******/

header {
	width: 1000px;	
	margin: auto;
	margin-top: 10px;
}

.headerLeft {
	float: left;
}

.headerRight {
	float: right;
	height: 120px;
	width: 400px;
}

.title {
	font-size: 60px;
	font-family: Arwen, sans-serif;	
}

.starring {
	font-size: 16px;
	font-family: VincentRegular, sans-serif;
}

.star {
	font-size: 30px;
	font-family: VincentRegular, sans-serif;
}

.startGameButton {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-size: 20px;
	font-family: VincentRegular, sans-serif;
	background-color: #FFFFCC;
}

.startGameButton:hover {
	background-color: #FFFFDB;
}

.checkAnswersButton {
	width: 80%;
	padding: 10px;
	margin: 10px auto 10px auto;
	border-radius: 10px;
	font-size: 20px;
	font-family: VincentRegular, sans-serif;
	background-color: #CEE6CE;
}

.checkAnswersButton:hover {
	background-color: #E2F0E2;
}

.instruction {
	font-size: 20px;
	font-family: BelleRose, sans-serif;	
	line-height: 22px
}

.timer {
	font-size: 20px;
	font-family: subT, sans-serif;	
}

/****** Game Board ******/

.gameBoard {
	clear: both;
	margin: auto;
	margin-top: 100px;
	position: relative;
}

.checkAnswersDisplay {
	position: absolute;
	top: 400px; left: 0; bottom: 0; right: 0;
	border-radius: 10px;
	background-color: #E0E0D2;
	height: 140px;
	width: 600px;
	margin: auto;
	z-index: 100;
}

.checkAnswersText {
	font-size: 30px;
	font-family: VincentRegular, sans-serif;
}

.giveUpButton {
	padding: 5px;
	border-radius: 5px;
	background-color: #EBCCCC;
	font-family: VincentRegular, sans-serif;
	font-size: 20px;
	margin-top: 10px;
}

.giveUpButton:hover {
	background-color: #F3E0E0;
}
.numCorrect {
	font-size: 50px;
}

.dateLine {
	height: 25px;
	width: 1100px;
	margin: auto;
}

.firstYear {
	float: left;
	font-family: BelleRose, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
}

.lastYear {
	float: right;
	font-family: BelleRose, sans-serif;
	font-size: 22px;	
	font-weight: bold;
	line-height: 20px;
}

ul {
	list-style-type: none;
	margin: auto;
}

.movieList {
	clear: both;
	margin: auto;
	width: 1155px;
}

.movie {
	float: left;
	width: 170px;
	border-radius: 6px;
	padding: 5px 2px 5px 2px;
	margin: 2px;
	background-color: #ddd;
}

.movieHeader {
	min-height: 60px
}

.movieTitle {
	font-size: 18px;
	font-family: VincentRegular, sans-serif;
}

.movieCharacter {
	position: relative;
	font-size: 16px;
	font-family: BelleRose, sans-serif;	
	line-height: 18px;
}

.moviePoster {
	position: relative;
	width: 154px;
	min-height: 250px;
	margin: auto;
}

.movieDate {
	font-size: 20px;
	font-family: VincentRegular, sans-serif;
}

.correct {
	background-color: #B2D1B2;
}

.wrong {
	background-color: #EBCCCC;
}