<!doctype html>
<html ng-app="movieGame">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>Movie Timeline</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js">
		</script>		
		<script src="https://rawgithub.com/angular-ui/ui-sortable/angular1.2/src/sortable.js"></script>
		<script type="text/javascript" src="js/movieGame.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
  	<body ng-controller="gameController" ng-init="initializeGame()">
  		<div class="main">	  		
  			<header>
  				<div class="headerLeft">
		  			<div class="title">MOVIE TIMELINE</div>
		  			<div class="starring">Starring</div>
		  			<div class="star">{{actor}}</div>
	  			</div>
	  			<div class="headerRight">
		  			<div class="instruction"> 
		  				{{instruction}}
		  			</div>
		  			<div class="startGameButton" ng-click="startGame()" ng-show="newGame && !ajaxLoading" >Start Game</div>
					<div class="startGameButton" ng-click="playAgain()" ng-show="!newGame && !gameOn" >Play Again</div>
		  			<div class="checkAnswersButton" ng-click="checkAnswers()" ng-show="gameOn"> Check your answers </div>
		  			<div class="timer" ng-show="!newGame">{{timerMins}}:{{timerSecs}}</div>
	  			</div>
  			</header>  			
			<div class="gameBoard">
				<div class="checkAnswersDisplay"> 
					<div class="centerTransform">
						<div class="checkAnswersText"><span class="numCorrect">{{numCorrect}}</span> correct</div>
						<div class="giveUpButton" ng-click="giveUp()">Give up?</div>
					</div>
				</div>
	  			<div class="dateLine">
	  				<div class="firstYear">{{firstYear}}</div>
	  				<div class="lastYear">{{lastYear}}</div>
	  			</div>
				<div class="movieList">
					<ul ui-sortable="sortableOptions" ng-model="movies">
						<li ng-repeat="movie in movies" class="movie">
							<div class="movieHeader">
								<div class="movieTitle">
									{{movie.title}}
								</div> 
								<div class="movieCharacter">
										as {{movie.character}}
								</div> 
							</div>	
							<div class="moviePoster">
								<div class="vCenterTransform">						
									<img src="{{movie.posterPath}}" alt="{{movie.title + ' poster'}}">
								</div>
							</div>
						</li>
					</ul>		
				</div>
				<div class="movieList" ng-show="!gameOn">
					<ul ng-model="movieAnswers">
						<li ng-repeat="movie in movieAnswers" ng-class="{movie:true, correct:(movies[$index].id == movie.id), wrong:(movies[$index].id !== movie.id)}">
							<div class="movieDate">{{movie.displayDate}}</div>
							<div class="moviePoster" ng-hide="numCorrect == movies.length">
								<div class="vCenterTransform">						
									<img src="{{movie.posterPath}}" alt="{{movie.title + ' poster'}}">
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</body>
</html>
